.basket-items {
  padding: 0 !important;
  height: 313px;
  overflow: hidden;
  overflow-y: auto;
}

.basket-items li {
  padding: 13px 18px;
  border-bottom: 1.5px dashed var(--text-light);
}

.basket-items li h2 {
  margin: 0;
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
}

.basket-items li h3 {
  margin: 0;
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 500;
  width: fit-content;
  margin: 0 auto;
}

.basket-items li h4 {
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 500;
}

.basket-items li h3 .item-decrease {
  background: '#ff4141';
  color: var(--secondary);
  min-width: 15px;
  height: 20px;
  border-radius: 2px;
  text-align: center;
  line-height: 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

.basket-items li h3 .item-increase {
    background-color: #198754;
    color: var(--secondary);
    min-width: 15px;
    height: 20px;
    border-radius: 2px;
    text-align: center;
    line-height: 15px;
    font-size: 1.2rem;
    cursor: pointer;
  }

.basket-items li h3 strong {
  min-width: 33px;
  padding: 0 4px;
}
