.navbar-logo {
  pointer-events: none;
  width: 45px;
  height: 45px;
}
.header-navbar {
  min-height: 80px;
}
.navbar-nav .nav-avatar {
  width: 45px;
  height: 45px;
}
.nav-avatar-dropdown .dropdown-menu {
  padding-bottom: 20px;
  margin-left: -125px;
}
.custom_nav_link {
  align-self: flex-end !important;
}

.menu-icon {
    height: 30px;
    color: #8a8a8a;;
}